<div class="wrap-background visible-md visible-lg">
	<img src="/assets/tela-icial-bg.png" class="wrap-background-image">

	<div class="space-top-3 visible-sm visible-md visible-lg"></div>

	<section class="wrap-background-content">
		<div class="row">
			<div class="col-8 col-md-8"></div>
			<div class="col-4 col-md-4">
				<div class="icon-desktop-ps"></div>
				<h3 class="legend-3 text-center">
					Photoshop CC
				</h3>
				<p class="description-4 text-center">
					É um manipulador de imagens digitais profissional 
	para tratar fotos, tirar imperfeições, fazer montagens
	efeitos, pintura digital, banners, flyers, logos, etc.
				</p>
			</div>
			<div class="col-4 col-md-4">
				<div class="logo-ps-e-ai"></div>
			</div>
			<div class="col-4 col-md-4">
				<div class="icon-desktop-ai"></div>
				<h3 class="legend-3 text-center">
					Illustrator cc
				</h3>
				<p class="description-4 text-center">
					É um programa editor de imagens vetorias
	com ele você pode fazer logotipos, ilustrações ou fazer
	 todo o layout de seu site Além disso, criar imagens
	 com efeitos mesclados e 3D.
				</p>
			</div>
		</div>
	</section>
</div>

<div class="wrap-content shine visible-xs visible-sm">
	<div class="row">
		<div class="col-xs-1 col-sm-1">
			<div class="logo-ps-e-ai-md"></div>
		</div>
	</div>

	<div class="row">
		<div class="col-xs-1 col-sm-1">
			<div class="icon-desktop-ps"></div>
			<h3 class="legend-3 text-center">
				Photoshop CC
			</h3>
			<p class="description-3 text-center">
				É um manipulador de imagens digitais profissional 
para tratar fotos, tirar imperfeições, fazer montagens
efeitos, pintura digital, banners, flyers, logos, etc.
			</p>
		</div>
	</div>
</div>

<div class="wrap-content freezing visible-xs visible-sm">
	<div class="row">
		<div class="col-xs-1 col-sm-1">
			<div class="icon-desktop-ai"></div>
			<h3 class="legend-3 text-center">
				Illustrator cc
			</h3>
			<p class="description-3 text-center">
				É um programa editor de imagens vetorias
com ele você pode fazer logotipos, ilustrações ou fazer
 todo o layout de seu site Além disso, criar imagens
 com efeitos mesclados e 3D.
			</p>
		</div>
	</div>
</div>