<div class="wrap-content hipster">
	<div class="space-top-1 visible-sm visible-md visible-lg"></div>

	<h3 class="legend-3 normal text-center">CONTEÚDO PROGRAMÁTICO</h3>
	
	<div class="space-top-1 visible-sm visible-md visible-lg"></div>

	<div class="container">
		<div class="row">
			<div class="col-8 col-sm-1 col-xs-1"></div>
			<div class="col-5 col-sm-3 col-xs-1 text-center-xs">
				<div class="icon-persona brain"></div>
			</div>
			<div class="col-12 col-sm-12 col-xs-12 visible-sm visible-md visible-lg">
				<div class="programmatic-content-divider"></div>
			</div>
			<div class="col-2 col-sm-2 col-xs-1 text-center-xs">
				
				<p class="description-3 text-left">
					- Exercicíos elaborados para que você possa usar como portfólio; <br>
					- Exercícios e exemplos usando séries e filmes; <br>
					- Como colocar trabalhos no Behance (portfólio); <br>
					- Como funciona uma gráfica e quais erros evitar
					ao enviar uma arte; <br>
					- Atalhos e dicas para facilicar o dia a dia; <br>
					- Sites para download e inspiração; <br>
					- <a href="http://www.cursopseai.com.br/assets/conteudo.pdf" class="btn link"><strong>Clique aqui</strong></a> e veja o conteúdo programático completo.
				</p>

			</div>
		</div>
	</div>

	<div class="space-top-1 visible-sm visible-md visible-lg"></div>
</div>