<div class="wrap-content cute">
	<div class="space-top-1 visible-sm visible-md visible-lg"></div>

	<h3 class="legend-3 normal text-center">Informações</h3>
	
	<div class="space-top-1 visible-sm visible-md visible-lg"></div>

	<div class="container">
		<div class="row">
			<div class="col-5 col-sm-1 col-xs-1"></div>
			<div class="col-4 col-sm-3 col-xs-1 text-center-xs">
				<div class="teacher-image"></div>

				<h3 class="legend-4 normal capitalize text-center">Instrutora</h3>
				<h3 class="legend-4 capitalize text-center">Bárbara Kézia</h3>

				<p class="description-3 text-center">
					Designer Gráfico | UI Designer 

					<a href="http://behance.net/barbarakezia" class="btn link" target="_BLANK">
						<strong>behance.net/barbarakezia</strong>
					</a>
				</p>
			</div>
			<div class="col-12 col-sm-12 col-xs-12 visible-sm visible-md visible-lg">
				<div class="techer-info-divider"></div>
			</div>
			<div class="col-3 col-sm-2 col-xs-1 text-center-xs">
				
				<p class="description-3">
					<strong>Valor</strong> <br>
					R$ 500,00 à vista ou <br>
					2x de R$ 250,00 no cartão de crédito.
				</p>

				<p class="description-3">
					<strong>Carga Horária</strong> <br>
					Photoshop: 05 aulas - 3h cada aula <br>
					Illustrator: 05 aulas - 3h cada aula. <br>
				</p>

				<p class="description-3">
					<strong>Material necessário</strong> <br>
					Seu notebook e mouse..<br>
				</p>

				<p class="description-3">
					<strong>Certificado</strong> <br>
					Após concluir o curso<br>
				</p>

				<p class="description-3">
					<strong>Realização</strong> <br>
					MeoApp - Sistemas e Aplicativos <br>
				</p>

			</div>
		</div>
	</div>

	<div class="space-top-1 visible-sm visible-md visible-lg"></div>
</div>