<div class="wrap-content gray">
	<h3 class="legend-3 normal text-center text-space-2 text-gaygay">Contato</h3>

	<h3 class="legend-4 normal text-center text-space-2 downcase text-gaygay">
		pseai@gmail.com - (65) 9293-6136
	</h3>

	<h3 class="legend-4 normal text-center text-space-2 capitalize text-gaygay">
		Av. Presidente Marques, N° 714 - Santa Helena (Quase em frente ao Açaí do Mato) 
	</h3>
</div>