<div class="wrap-content cute">
	<h3 class="legend-3 text-center">Faça sua pré-matricula</h3>

	<div class="space-top-1 visible-sm visible-md visible-lg"></div>

	<div class="container">
		<div class="row">
			<div class="col-4 col-sm-4 col-xs-1"></div>
			<div class="col-2 col-sm-2 col-xs-1">
				<form class="form">
					<div class="row">
						<div class="col-1">
							<div class="form-inputs">
								<input class="input" placeholder="Nome">
							</div>
						</div>
						<div class="col-1">
							<div class="form-inputs">
								<input class="input" placeholder="Email">
							</div>
						</div>
						<div class="col-1">
							<div class="form-inputs">
								<input class="input" placeholder="Profissão">
							</div>
						</div>
					</div>

					<div class="row">
						<div class="col-2 col-xs-2 col-sm-2 col-md-2">
							<div class="form-inputs">
								<input class="input" placeholder="Telefone">
							</div>
						</div>
						<div class="col-2 col-xs-2 col-sm-2 col-md-2">
							<div class="form-inputs">
								<input class="input" placeholder="Celular">
							</div>
						</div>
					</div>
				</form>
			</div>
		</div>

		<div class="row">
			<div class="col-4 col-sm-1 col-xs-1"></div>
			<div class="col-2 col-sm-1 col-xs-1">
				<p class="description-2 text-center">
					Em breve te informarei a data, horário e local. <br>
			Nos vemos em breve  =)
				</p>
			</div>
		</div>
	</div>
</div>