<div class="wrap-background hipster">
	<div class="space-top-3 visible-sm visible-md visible-lg"></div>
	<div class="space-top-2 visible-xs"></div>

	<section class="container wrap-background-content">
		<div class="row">
			<div class="col-5 col-sm-10 col-xs-1"></div>
			<div class="col-5 col-sm-4 col-xs-1 text-center-xs">
				<div class="icon-persona fashion-designer"></div>
			</div>
			<div class="col-2 col-sm-2 col-xs-1">
				<div class="space-top-2 visible-sm visible-md visible-lg"></div>

				<h2 class="legend-2 text-center-xs">
					Designer de moda
				</h2>
				<p class="description-2 text-center-xs">
					Desenho e molde de roupas, estampas textura, etc.
				</p>
			</div>
		</div>
	</section>
</div>