<div class="wrap-background">
	<img src="/assets/tela-icial-bg.png" class="wrap-background-image">

	<section class="wrap-background-content">
		<div class="row">
			<div class="col-5"></div>
			<div class="col-5">
				<div class="icon-desktop-ps"></div>
				<h3 class="legend-3 text-center">
					Photoshop CC
				</h3>
				<p class="description-4 text-center">
					É um manipulador de imagens digitais profissional 
	para tratar fotos, tirar imperfeições, fazer montagens
	efeitos, pintura digital, banners, flyers, logos, etc.
				</p>
			</div>
			<div class="col-5">
				<div class="logo-ps-e-ai"></div>
			</div>
			<div class="col-5">
				<div class="icon-desktop-ai"></div>
				<h3 class="legend-3 text-center">
					Illustrator cc
				</h3>
				<p class="description-4 text-center">
					É um programa editor de imagens vetorias
	com ele você pode fazer logotipos, ilustrações ou fazer
	 todo o layout de seu site Além disso, criar imagens
	 com efeitos mesclados e 3D.
				</p>
			</div>
		</div>
	</section>
</div>

<div class="wrap-background">
	<img src="/assets/publicitario-bg.png" class="wrap-background-image">

	<section class="wrap-background-content">
		<div class="row">
			<div class="col-5"></div>
			<div class="col-5">
				<div class="icon-persona advertiser"></div>
			</div>
			<div class="col-3">
				<div class="space-top-3">
					<h2 class="legend-2">
						Publicitários e Designer gráfico
					</h2>
					<p class="description-2">
						Flyers, banners, cartão de visita, Logos, Catálogo, folders etc.
					</p>
				</div>
			</div>
		</div>
	</section>
</div>

<div class="wrap-background">
	<img src="/assets/web-designer-bg.png" class="wrap-background-image">

	<section class="wrap-background-content">
		<div class="row">
			<div class="col-5"></div>
			<div class="col-5">
				<div class="icon-persona web-designer"></div>
			</div>
			<div class="col-3">
				<div class="space-top-3">
					<h2 class="legend-2">
						Web designer
					</h2>
					<p class="description-2">
						Layout de sites, blogs, banners, pop-up etc.
					</p>
				</div>
			</div>
		</div>
	</section>
</div>

<div class="wrap-background">
	<img src="/assets/designer-de-moda-bg.png" class="wrap-background-image">

	<section class="wrap-background-content">
		<div class="row">
			<div class="col-5"></div>
			<div class="col-5">
				<div class="icon-persona fashion-designer"></div>
			</div>
			<div class="col-3">
				<div class="space-top-3">
					<h2 class="legend-2">
						Designer de moda
					</h2>
					<p class="description-2">
						Desenho e molde de roupas, estampas textura, etc.
					</p>
				</div>
			</div>
		</div>
	</section>
</div>

<div class="wrap-background">
	<img src="/assets/ilustrador-bg.png" class="wrap-background-image">

	<section class="wrap-background-content">
		<div class="row">
			<div class="col-5"></div>
			<div class="col-5">
				<div class="icon-persona illustrators"></div>
			</div>
			<div class="col-3">
				<div class="space-top-3">
					<h2 class="legend-2">
						Ilustradores
					</h2>
					<p class="description-2">
						Pintura digital, criação de ícones, posters, desenho de embalagens, logo, etc.
					</p>
				</div>
			</div>
		</div>
	</section>
</div>

<div class="wrap-background">
	<img src="/assets/fotografo-bg.png" class="wrap-background-image">

	<section class="wrap-background-content">
		<div class="row">
			<div class="col-5"></div>
			<div class="col-5">
				<div class="icon-persona photographers"></div>
			</div>
			<div class="col-3">
				<div class="space-top-3">
					<h2 class="legend-2">
						Fotográfos
					</h2>
					<p class="description-2">
						Tratamento e montagens de fotos para albuns CDs, convites de casamento, aniversário etc.
					</p>
				</div>
			</div>
		</div>
	</section>
</div>

<div class="wrap-content shine">
	<h3 class="legend-3 text-center">Informações</h3>

	<br><br>

	<div class="row">
			<div class="col-5"></div>
			<div class="col-4">
				<div class="teacher-image"></div>

				<h3 class="legend-4 normal capitalize text-center">Instrutora</h3>
				<h3 class="legend-4 capitalize text-center">Barbara Kézia</h3>

				<p class="description-3 text-center">
					Designer Gráfico | UI Designer 
				</p>
				<p class="description-3 text-center">
					<a href="http://behance.net/barbarakezia" class="btn link">behance.net/barbarakezia</a>
				</p>
			</div>
			<div class="col-12">
				<div class="techer-info-divider"></div>
			</div>
			<div class="col-3">
				
				<p class="description-3">
					<strong>Valor</strong> <br>
					R$ 800,00 a vista ou <br>
					3x de 266,66 no cartão de crédito 
				</p>

				<p class="description-3">
					<strong>Carga Horária</strong> <br>
					Photoshop: 06 aulas - 3h cada <br>
					Illustrator: 06 aulas - 3h cada aula <br>
				</p>

				<p class="description-3">
					<strong>Material necessário</strong> <br>
					Seu notebbok, caneta e papel. <br>
				</p>

				<p class="description-3">
					<strong>Conteúdo Programático</strong> <br>
					link - <br>
					<strong>Realização</strong> <br>
					Empresa MeoApp - Sistemas e Aplicativos <br>
				</p>

			</div>
		</div>
</div>

<div class="wrap-content cute">
	<h3 class="legend-3 text-center">Faça sua pré-matricula</h3>

	<br><br>

</div>

<div class="wrap-content gray">
	<h3 class="legend-3 normal text-center text-cute">Contato</h3>

	<h3 class="legend-3 normal text-center text-cute">pseai@gmail.com - (65) 9293-6136 </h3>
</div>
